<fieldset>
	<legend>Seleccione mes y año</legend>	
		<label for="fechames">Mes y año:</label>
			<select name="fechames">
			{% for i in meses %}
				<option {% ifequal i.0 mesActual %} selected {% endifequal %} label="{{ i.1 }}" value="{{ i.0 }}" >{{ i.1 }}</option>
			{% endfor %}
			</select>
			<select name="fechanyo">
			{% for i in anyos %}
				<option {% ifequal i anyoActual %} selected {% endifequal %} label="{{ i }}" value="{{ i }}" >{{ i }}</option>
			{% endfor %}
			</select>
</fieldset>
