{% extends "akademic/richWebBrowser/menu/tutor.html" %}

{% block breadcrumb %}Tutor >> Listas Tutor Asignatura{% endblock %}

{% block body %}

{% if not error %}
	<form action="{{ action }}" method="POST">
	{% include "akademic/richWebBrowser/formularioMesAnyo.html" %}
	{% include "akademic/richWebBrowser/formularioTipoListado.html" %}
	{% if listaAsignaturas %}
		<fieldset>
			<legend>Seleccione una o varias asignaturas:</legend>
		<table class="curso" width="100%" cellpadding="0" cellspacing="0">
		{% for asig in listaAsignaturas %}
			<tr class="{% cycle par,impar %}">
				<td colspan="5">
					{{ asig.asignatura.nombreLargo }}
				</td>
				<td>
					<input type="checkbox" name="asignaturas" value="{{ asig.asignatura.id }}"/>
				</td>
			</tr>
		{% endfor %}
		</table>
		</fieldset>
		<input type="submit" value="Obtener informe"/>
	{% endif %}
	</form>
	{% if listados %}
		<a target="Impresion" href="{% url tutor_lista_asignaturas %}?csv=0&{{ urlimprimir }}"><img src="{{ MEDIA_URL }}/imgs/fileprint.png" alt="Imprimir"/> Imprimir</a>
		<a href="{% url tutor_lista_asignaturas %}?csv=1&{{ urlimprimir }}"><img src="{{ MEDIA_URL }}/imgs/spreadsheet.png" alt="CSV"/> CSV</a>
		{% for asigna in listados %}
		<div class="listados">
			Listado de <b>{{ asigna.tipoListado }}</b> de la asignatura: <b>{{ asigna.asignatura.nombreLargo }}</b>
			<br/>
			<b>Incidencias entre las fechas:</b> {{ asigna.fechaInicio }} y {{ asigna.fechaFin }}
		</div>
		<table class="listados">
			<tr>
				<th>Alumno:</th>
				{% for dia in asigna.dias %}
					<th>{{ dia }}</th>
				{% endfor %}
				<th>Total</th>
			</tr>
			{% for alu in asigna.alumnos %}
			<tr class="{% cycle par,impar %}">
				<td class="alumno"><span class="nombre">{{ alu.alumno.persona.nombre }}</span><span class="apellido">{{ alu.alumno.persona.apellidos }}</span></td>
				{% for dia in alu.faltas %}
					<td class="dia">
						{% if dia %}
							{{ dia }}
						{% else %}
							&nbsp;
						{% endif %}
					</td>
				{% endfor %}
				<td>{{ alu.total }}</td>
			</tr>
			{% endfor %}
		</table>
		{% endfor %}
	{% endif %}
{% endif %}
{% endblock %}
