{% extends "akademic/richWebBrowser/profes-base.html" %}

{% block breadcrumb %}Contraseñas >> Reenvío contraseñas{% endblock %} 
{% block body %}

{% if padres %}
	<form method="POST">
	<table class="curso">
	{% for p in padres %}
		<tr>
			<td>
				{{ p.persona.nombre }}
			</td>
			<td>
				{{ p.persona.apellidos }}
			</td>
			<td>
				{% if p.persona.tlf_movil %}
					{{ p.persona.tlf_movil }}
				{% else %}
					<b>No tiene teléfono móvil</b>
				{% endif %}
			</td>

			<td>
				{% if p.persona.tlf_movil %}
					<input type="radio" name="padre" value="{{ p.id }}"/>
				{% else %}
					&nbsp;-
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
		<input type="submit" name="buscar" value="Enviar contraseña"/>
	</form>

{% else %}
	<form method="POST">
		<h2>Introduzca parte del dni, nombre o apellido del padre/madre:</h2>
		<input type="text" name="query"/>
		<input type="submit" name="buscar" value="buscar"/>
	</form>
	{% if notFound %}
		<h2>No se ha encontrado ningún padre o madre con ese DNI, nombre o apellidos</h2>
	{% endif %}
{% endif %}


{% endblock %}
{% block submenu %}
{% endblock %}
